
<head>
    <title><%= title %></title>
    <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/supersized.css" />
    <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/bezel.css" />
    <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <script type="text/javascript" src="/javascripts/google_analytics.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/fis3tcl.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fitvids.js"></script>
    <script type="text/javascript" src="javascripts/supersized.flickr.1.1.2.js"></script>
    <script type="text/javascript" src="javascripts/supersized-settings.js"></script>       
    
        <meta name="apple-itunes-app" content="app-id=582511680">  
    
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0;">

</head>
<body class="bezel">
    
  <div id="main">
  <div class="logo_bezel"></div>
    <p class="medium">
      <a class="app_store_button" href="https://itunes.apple.com/us/app/bezel-photo/id582511680?mt=8">
        get it now for free on the App Store
      </a>
      <a class="press_release_button" href="/bezel_pr.pdf">
        read the press release
      </a>
      <a class="contact_us_button" href="mailto:bezel@minddiaper.com">
        contact us
      </a>
    </p>
    <a href="/privacyandterms" class="tos">Privacy Policy & Terms of Service</a>
    <p class="small">
      <span class="little">
        &copy 2012-2013, Mind Diaper
      </span>
    </p>
  
  </div>
  <a href="https://itunes.apple.com/us/app/bezel-photo/id582511680?ls=1&mt=8">
  <script type="text/javascript" src="/javascripts/bezel.js"></script>

</body>
