
<head>
    <title>Cinepro | Mind Diaper</title>
    <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/fis3tcl.js"></script>
    <script type="text/javascript" src="/javascripts/google_analytics.js"></script>
    
    <meta name="apple-itunes-app" content="app-id=522585198">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0;">

</head>

<body class="cinepro">
  <header class="container_full">
    <div class="logo_cinepro"></div>
    <div class="cinepro_menu"><a href="http://cinepro.uservoice.com/">Get Support</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Mind Diaper</a></div>
  </header>

  <section class="container_wide slider">
    <div class="iphone">
      <a class="buy_circle" href="http://itunes.apple.com/us/app/cinepro/id522585198?mt=8&uo=4" target="itunes_store"><strong>BUY<br />NOW</strong></a>
      <img src="img/iphone_skate.png" />
    </div>
  </section>

  <section class="container_wide cinepro_features">
    <div class="container_full">
      <h2>Everyone is a Film Maker</h2>
      <p style="text-align: left;">CinePro started with the belief that everyone is a filmmaker. Our goal was to create a tool that was powerful enough for professional filmmakers and friendly enough for anyone with a passion for capturing lifes best moments.</p>
      <p style="text-align: left;">Our dream is to see the CinePro community capture everything from full length features to birthday parties.</p>
    </div>
    <h2>FEATURES</h2>
      <ul>
        <li>
          <img src="img/icon_film.png" /><br />
          Customizable Filters
        </li>
        <li>
          <img src="img/icon_lenses.png" /><br />
          Swap Lenses
        </li>
        <li>
          <img src="img/icon_iso.png" /><br />
          Change ISO
        </li>
        <li>
          <img src="img/icon_ratios.png" /><br />
          Aspect Ratios
        </li>
        <li>
          <img src="img/icon_focus.png" /><br />
          Advanced Focus
        </li>
        <li>
          <img src="img/icon_social.png" /><br />
          Share
        </li>
  <!--
        <li>
          <img src="img/icon_editing.png" /><br />
          Editing
        </li>
        <li>
          <img src="img/icon_slow-motion.png" /><br />
          Slow-Motion
        </li>
  -->
      </ul>
  </section>

  <section class="container_wide cinepro_wise">
    <div class="container_full">
      <div class="container_half center_text">
        <div class="wise_words">
          <h2>A Wise Man Once Said...</h2>
          <p>the best camera is the one you have with you</p>
        </div>
      </div>
      <div class="container_half center_text">
        <img src="img/best_camera.png" /> 
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="container_wide cinepro_dual_uses">
    <div class="dual_use use_left">
      <h2>In the Studio</h2>
    </div>
    <div class="use_or">
      <h2>or</h2>
    </div>
    <div class="dual_use use_right">
      <h2>On the Go</h2>
    </div>
    <div class="clearfix"></div>
  </section>

  <section class="container_wide cinepro_videos">
    <div class="container_full">
      <h2>Recorded with Cinepro</h2>
      <div id="video-war">
        <iframe width="640" height="360" src="http://www.youtube.com/embed/pdKZa3wIuis?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    <h2>Filter Gallery</h2>
      <div id="video-war">
        <iframe width="640" height="360" src="http://www.youtube.com/embed/videoseries?list=PL017A6E0F1D3C8452&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <a href="http://itunes.apple.com/us/app/cinepro/id522585198?mt=8&uo=4" target="itunes_store" class="cinepro_buy container_wide">Buy Now</a>
</div>

<footer class="container_wide">
  <div class="container_full">
    Copyright &copy; 2012 <a href="http://minddiaper.com">Mind Diaper</a>. All rights reserved. CinePro uses the <a href="http://en.wikipedia.org/wiki/Template:BSD">GPUImage Framework</a>.
  </div>
</footer>
<script type="text/javascript" src="/javascripts/cache_30adf25d2a2fefafd1497a2d6eb6f27e955b77af.js"></script>
</body>